#section1{
    
    background-image: url("http://www.kuoni.co.uk/north-and-central-america/north-america");
    background-repeat: no-repeat;
    background-size: cover;
background-color: rgb(238, 0, 90);
     text-align: center;
    color: Black;
}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align: center;
    color: white;
}